script(type='text/template')#business-item
    <% function mtomiles(meters) { return (meters/1609.34).toFixed(2)} %>
    div 
        <%= typeof type !== "undefined" && type == "food" ? "<i class='icon-food'></i>" : "<i class='icon-house'></i>" %>
        <%= name %>
        <a target="_blank" href="<%= mobile_url %>" title="<%= name %>" class='icon-share-alt'></a>
        span.fr.stars
            <% for (i = 0; i < 5; i++) { %>
            <% if (i == rating - 0.5) { %>
            <%= "<i class='icon-star-half'></i>" %>
            <% } else if (i < rating) { %>
            <%= "<i class='icon-star'></i>" %>
            <% } else { %>
            <%= "<i class='icon-star-empty'></i>" %>
            <% }} %>
    span.is-closed
        <%= is_closed == true ? "Closed" : "" %>
    span.distance
        <%=  mtomiles(distance) + " miles" %>

script(type='text/template')#gmaps-view 
    <% function mtomiles(meters) { return (meters/1609.34).toFixed(2)} %>
    <% var u = "undefined" %>
    h2
        <a href="<%= mobile_url %>" title="<%= name %>">
        <%= name %><i class='icon-share-alt'></i>
        </a>
        <%=  " - " + mtomiles(distance) + " miles" %>
    p.snippet
        <img src='<%= typeof image_url !== u ? image_url : ""%>' class='fr' />
        <%= snippet_text %>
        br
        span.phone Phone: <%= typeof display_phone  !== u ? display_phone : "" %>
        br
        span.stars
            <% for (i = 0; i < 5; i++) { %>
            <% if (i == rating - 0.5) { %>
            <%= "<i class='icon-star-half'></i>" %>
            <% } else if (i < rating) { %>
            <%= "<i class='icon-star'></i>" %>
            <% } else { %>
            <%= "<i class='icon-star-empty'></i>" %>
            <% }} %>
        .clear
